<!DOCTYPE html>
<html lang = "vi">
<head>
	<meta charset ="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sign in</title>
	<link rel="stylesheet" href="signin.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div id="Bar">
  <div id="Frame">
    <div id="logo"> <a href=#>Hoctot.vn</a> </div>
    
  </div>
</div>
<!-- header ends here -->
<div class="loginbox radius">
  <h2 style="color:#141823; text-align:center;">SIGN IN</h2>
  <div class="loginboxinner radius">
    <div class="loginheader">
      <h4 class="title"</h4>
    </div>
    <!--loginheader-->
    <div class="loginform">
      <form id="login" action="" method="post">
        <p>
          <input type="text" name="email" placeholder="Your Email"  class="radius" />
        </p>
        <p>
          <input type="password" name="password" placeholder="Password" class="radius" />
        </p>
        <p>
          <button class="radius title" name="signin">SIGN IN</button>
        </p>
	<a href="/Users\Trinh Duc Anh\Downloads\Tai lieu tin\BAi tap mang\INT2208-7-2019\nhom-8\view\signup.html" class="text-center">Nhấn vào đây nếu bạn chưa có tài khoản</a>
      </form>
    </div>
  </div>
</div>
	<script src="https://fb.me/react-15.1.0.js"></script>
	<script src="https://fb.me/react-dom-15.1.0.js"></script>
	<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
	<script type="text/jsx" src="dangnhap.js"></script>
</body>


