<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form">

    <mat-form-field class="full-width">
        <input matInput placeholder="Your name" formControlName="name" required/>
        <mat-error *ngIf="f.name.hasError('required')">Your name is required</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <input matInput placeholder="Username" formControlName="username" required/>
        <mat-error *ngIf="f.username.hasError('required')">Username is required</mat-error>
        <mat-error *ngIf="f.username.hasError('pattern')">Username must start with a letter, and must not contain symbols</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <input type="password" matInput placeholder="Password" formControlName="password" required/>
        <mat-error *ngIf="f.password.hasError('required')">Password is required</mat-error>
        <mat-error *ngIf="f.password.hasError('minlength')">Password must be at least 6 characters</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="birthday" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="f.birthday.hasError('required')">Invalid date of birth</mat-error>
    </mat-form-field> <br>

    <div class="form-group">
        <mat-label>Gender</mat-label> <br>
        <mat-radio-group formControlName="gender" required>
            <mat-radio-button color="primary" value="true">Male</mat-radio-button>
            <mat-radio-button value="false">Female</mat-radio-button>
        </mat-radio-group>
        <mat-error *ngIf="submitted && f.gender.hasError('required')">Gender is required</mat-error>
    </div>

    <div class="form-group">
        <button [disabled]="loading" mat-flat-button color="primary">Register</button>
        <button routerLink="/login" mat-button color="link">Cancel</button>
    </div>
</form>
