﻿<mat-card style="width: 90%; margin: 20px auto;">
  <div mat-card-avatar style="height: 45px; width: 45px; background-size: contain"
  [style.backgroundImage]="'url('+ currentUser.avatarUrl +')'">
  </div>
  <br>
  <mat-form-field class="full-width">
      <mat-label>What are you thingking?</mat-label>
      <textarea  matInput cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="1" 
      style="overflow-y:hidden;"></textarea>
  </mat-form-field>
  <button mat-button style="width:10%;margin-left:15px;">Share</button>
</mat-card>

<!--bai dang-->
<app-post></app-post>