<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" *ngIf="currentUser">Home</a>
        <a class="nav-item nav-link" routerLink="{{currentUser.username}}" *ngIf="currentUser">Profile</a>
        <a class="nav-item nav-link" routerLink="/login" *ngIf="!currentUser">Login</a>
        <a class="nav-item nav-link" (click)="logout()" *ngIf="currentUser">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
