<mat-toolbar color="primary">
    <button style="outline: none" mat-button routerLink="/" *ngIf="currentUser">Home</button>
    <button style="outline: none" mat-button routerLink="{{currentUser.username}}" *ngIf="currentUser">Profile</button>
    <button style="outline: none" mat-button (click)="logout()" *ngIf="currentUser">Logout</button>

    <button style="outline: none" mat-button routerLink="/login" *ngIf="!currentUser">Login</button>
    <button style="outline: none" mat-button routerLink="/register" *ngIf="!currentUser">Register</button>
</mat-toolbar>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
