<h1>Hi {{currentUser.firstName}}!</h1>
<p>You're logged in with Angular 7!!</p>
<h3>You are: {{currentUser.username}}</h3>
<!-- <ul>
    <li *ngFor="let user of users">
        {{users.username}} ({{users.firstName}} {{users.lastName}}) - 
         <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul> -->

<!-- <form class="example-form">
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="What are you thinking?"></textarea>
    </mat-form-field>
</form> -->