*{margin: 0; padding: 0;}

h4.font-weight-bold.text-md-center.text-xs-center.pt-2.copyright {
    font-size: 75%;
    font-weight: unset;
}

img.img-fluid.author {
    border-radius: 50%;
    border: 5px solid white;
    margin-left: 100%;
    box-shadow: 0 0 0 5px #e34b50;
    margin-bottom: 20%;
}

a.btn.btn-warning.mb-1.button-start {
    margin-left: 32%;
    border: none;
    border-radius: 20px;
    background-color: #FFCB08;
}

a.btn.btn-warning.mb-1.button-start:hover {background-color: #ffe06b;}

p.text-md-center.mt-2.small-text-course {
    font-weight: lighter;
    font-size: 12px;
    padding-bottom: 52%;
} 

p.back-title {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-size: -webkit-xxx-large;
    animation: turnright 1.8s forwards;
    transition: 0.6s;
}

@keyframes turnright {
    0% {
        transform: translateX(-3000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
nav.navbar.navbar-light.bg-faded {
    background-color: transparent;
}

nav.navbar.navbar-light.bg-faded.fixed-nav.navbar-fixed-top {
    background-color: rgba(0,188,212,1);
    transition: 0.5s;
    height: 8%;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
}

.col-sm-4.text-md-center.text-of-introduce {
    font-size: x-large;
    padding-top: 12%;
    color: white !important;
    padding-left: 8%;
}
.part-top{
    width: 100%;
    height: 100%;
}
img.img-fluid.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 3px solid white;
    box-shadow: 0 0 10px 5px #d7d7d7;
    box-sizing: border-box;
    object-fit: cover;
    margin-top: 7px;
    object-position: center right;
}
.dropdown-menu.dropdown-navbar {
    transform: translateX(-150px);
}
a.nav-link.btn.btn-outline-secondary {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    margin-top: 15px;
    border-radius: 20px;
}

a.nav-link.btn.btn-outline-secondary.support-menu {
    color: white;
    background-color: #2e2f8a;
    border: 2px solid;
    border-radius: 20px;
}

a.nav-link.btn.btn-outline-secondary.support-menu:hover {
    background: #7a7bbc;
}

li.nav-item.active a.nav-link.btn.btn-outline-secondary {
    background-color: #e7e7e7;
}
.background-title {
    width: 100%;
    height: 100%;
    position: relative;
}
.background-title .background-images{
    width: 100%;
    height: 87%;
    background-image: url(/images/background.jpg);
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    animation: showup 5s forwards;
    transition-timing-function: cubic-bezier(.17,.83,1,.38) ;
   
}
@keyframes showup {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.button-discover a{
    padding : 2%;
    margin-top: 5%;
    font-size: 17px;
    font-weight: 500;
    animation: turn-on 3s forwards;
    transition: 0.6s
}
@keyframes turn-on {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.button-discover a.btn.btn-danger.lookingfor {
    background-color: rgb(255, 90, 96);
    margin-right: 2%;
    border: none;
}

.button-discover a.btn.btn-danger.lookingfor:hover {background-color: rgb(255, 111, 116);}

.quote-introduce{
   height: 50%;
   position: absolute;
   background-color: rgba(0,188,212,1);
   bottom: -20%;
   left : 50%;
   border-radius: 10px;
   transform: translateX(-50%);
   box-shadow: 0px 7px 15px 2px #787878;
}
.left-of-interested img.img-fluid{
    padding-top: 8%;
    margin-left: 10%;
    width: 80%;
}
.white-part {
    height: 50%;
    background-color: #303945;
}
.main-part {
    background-color: #eef2f8;
}
.course-recent {
    background-color: rgba(255, 255, 255, 0.5);;
}
.one-card-course{
    background-color: white;
    border-radius: 20px;
    box-shadow: -2px 4px 15px 2px #787878;
    margin-right:5%;
    cursor: pointer;
}
.one-card-course .avatar-course{
    width: 30%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 0 3px #d5d5d5;
    margin-left: 35%;
}

#top-rank h5.name-rank{
    background-color: rgb(255, 90, 96);
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(255, 90, 96);
}
.list-leaderboard {
    background-color: white;
    box-sizing: border-box;
    box-shadow: -2px 2px 11px 3px #d5d5d5;
    border-radius: 20px;
}
.footer-contact {
    background-color : #303945;
    padding-top: 2%;
    padding-bottom: 2%;
} 
.autor-quote .text-author{
    color: white;
}
ul.text-author li{
    list-style: none;
}

ul.contact-media li a {
    margin-left: 25px;
    padding-right: 30px;
}

a.fas.fa-envelope-open.fa-2x.icon-mail {
    color: #eb6259;
}

a.fas.fa-envelope-open.fa-2x.icon-mail:hover {
    color: #e58882;
}

.icon-fb {
    color: #4267b2;
}
.icon-github {
    color : white;
}
.icon-instagram {
    color: #ff4466;
    /*background: #f09433; 
    background: -webkit-linear-gradient(bottom left, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -o-linear-gradient(bottom left, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(to top right, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);   
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );*/
}

a.fab.fa-facebook.fa-2x.icon-fb:hover {color: #014c8c;}

a.fab.fa-twitter.fa-2x.icon-twitter {
    color: #1da1f2;
}
a.contact-me-fb {
    margin-left: 10px;
}
small.permition {
    font-size: 10px;
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ff3737db;
}
p#welcome-new-user {
    margin-top: 23px;
}