
*{
    box-sizing: border-box;
}
body 
{
    font-family: Arial , Helvetica;
}
/* Menu */
nav
{
    margin: 0;
    padding: 0;
    background: gray;
    overflow: hidden;
    font-size: 18px;
}
.side-nav a
{
    display: inline-block;
    text-decoration: none;
    padding : 15px;
    color: #ffff;
}
.side-nav a:hover
{
    background-color: #009688;
}
.side-nav a.close
{
    display: none;
}
i.fa{
    position: absolute;
    right: 10px;
    top: 15px;
    margin:8;
    color: white;
}
