<!DOCTYPE html> 
<html lang="en"><head>
	<title>Trang menu </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">  
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/icons/css/all.css"> 	
    <link rel="icon" type="image/png" href="/images/logo.png"/>
 	<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&amp;subset=latin-ext,vietnamese" rel="stylesheet">
 	<link rel="stylesheet" type="text/css" href="/stylesheets/style-course.css">
 	<!-- font-family: 'Noto Sans', sans-serif; -->
</head>
<body >	
	
	
 	<div class="part-top">
 		<div class="menu-navgator">

	 		<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top nav-config">
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
			    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			      <li class="nav-item active">
			        <a class="nav-link" href="/"><i class="fas fa-chevron-left"></i>   Chọn khóa học</a>
			      </li>
			    </ul>
			  </div>

			  <ul class="nav navbar-nav float-sm-right">
				  	<li class="nav-item">
			            <a class="nav-link btn btn-outline-secondary support-menu" href="#" >Hỗ trợ giảng viên <i style="color: yellow" class="fas fa-exclamation"></i></a>
			         </li>

		        	<li class="nav-item d-none d-lg-block dropdown">
		                <a class="nav-link dropdown-toggle" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" href="#"><img src="<%=image%>" class="img-fluid user-avatar"></a>
		                <div class="dropdown-menu dropdown-profile" aria-labelledby="dropdownMenuButton">
						    <a class="dropdown-item" href="#">Thông tin tài khoản</a>
						    <a class="dropdown-item" href="/users/logout">Đăng xuất</a>
					  	</div>
		            </li> 
	            </ul>
			</nav>	
		</div>
 	</div>
 	<!-- endtop -->
	<div class="main-part">
		<div class="them-courses" id= "them-courses">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-8 col-xs-12 one-part-courses " style="border-radius: 10px">
						<div class="row mt-4 ">	
                        <% doc.forEach((value,key) => { %>						
							<div class="one-frames-courses no-gutters ">
								<a href="#" style="text-decoration: none; color:black" class="row">
									<div class="col-sm-3 col-xs-3 img-courses">
									<img src="<%= value.images %>" class="img-fluid">
								</div>

								<div class="col-xs-9 col-sm-9 description-them">
									<p class="title-them-courses"><b><%= value.title %></b></p>
									<small>Các loại hình dạng trong tiếng anh</small>
								</div>
								</a>
							</div>
                        <% }) %>
							<!-- end-one-row -->
						
						
						</div>
					</div>
					<div class="col-md-3 d-none d-md-block top-rank ml-auto" id="top-rank">

						<div class="row list-leaderboard">
							
							<table class="table table-borderless" style="background: white">
								<h5 class="name-rank text-sm-center text-xs-center">Bảng Xếp Hạng</h5>
							  <thead class="thead-inverse">
							    <tr>
							      <th scope="col">#</th>
							      <th scope="col">First</th>
							      <th scope="col">Last</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr>
							      <th scope="row">1</th>
							      <td>Mark</td>
							      <td>Otto</td>
							      
							    </tr>
							    <tr>
							      <th scope="row">2</th>
							      <td>Jacob</td>
							      <td>Thornton</td>
							     
							    </tr>
							    <tr>
							      <th scope="row">3</th>
							      <td>Larry</td>
							      <td>the Bird</td>
							    </tr>

							     <tr>
							      <th scope="row">4</th>
							      <td>Mark</td>
							      <td>Otto</td>
							      
							    </tr>

							    <tr>
							      <th scope="row">5</th>
							      <td>Mark</td>
							      <td>Otto</td>
							    </tr>

							     <tr>
							      <th scope="row">6</th>
							      <td>Mark</td>
							      <td>Otto</td>
							    </tr>
							  </tbody>
							</table>
						</div>	

					</div>
				</div>
			</div>

		</div>
	</div>
	
	

	<!-- end main-part -->




    <% include footer %>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
	
</html>