<div class="footer-contact">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 autor-quote">
				<div class="row">
					<div class="col-sm-4 hidden-xs-down">
						<img src="/images/user.jpg" class="img-fluid author">
					</div>
					<ul class="text-author">
						<li>
							<i class="fas fa-chevron-circle-right"> </i>
							Mình là Nguyễn Đức Anh - thiết kế trang web
						</li>
						<li>
							<i class="fas fa-chevron-circle-right"> </i>
							I'm Developer and Photographer
						</li>
							<i class="fas fa-chevron-circle-right"> </i>
							Liên hệ với mình qua
							<a href="https://www.facebook.com/eden.ducanh" class="fab fa-facebook  contact-me-fb icon-fb">
							</a>
							<a href="https://github.com/BossDucAnh" class="fab fa-github  contact-me-fb icon-github">
							</a>
							<a href="https://www.instagram.com/_anhnd9_/" class="fab fa-instagram  contact-me-fb icon-instagram">
							</a>
						<li>
							
						</li>
					</ul>
				</div>
			</div><!--  end author nguyen duc anh -->

			<div class="col-sm-4 social-media">
				<h4 style="color: white;" class="text-md-center text-xs-center font-weight-bold">SOCIAL MEDIA</h4>
				<ul class="contact-media pt-2 text-md-center text-xs-center ">
					<li>
						<a href="#" class="fab fa-facebook fa-2x icon-fb"></a>
						<a href="#" class="fab fa-twitter fa-2x icon-twitter"></a>
						<a href="#" class="fas fa-envelope-open fa-2x icon-mail"></a>
					</li>
				</ul>
			</div>

			<div class="col-sm-4 contact-us">
				<img src="/images/contact-me.png" class="img-fluid">
				<h4 style="color: white;" class="font-weight-bold  pt-2">Do you have a question?</h4>
				<h3 style="color: #e34b50;" class="font-weight-bold">Contact us</h3>
				<p style="color: white;">Hotline : <b>0988639450</b></p>
				<p style="color: white;">Email : <b>harrykai99@gmail.com</b></p>
				<p style="color: white;">Address : <b>Đại học Công Nghệ-ĐHQGHN,144 Xuân Thủy,Cầu Giấy,Hà Nội</b></p>

			</div>
		</div>
		<div class="row pt-3">
			<div class="col-sm-12">
				<h4 style="color: white;" class="font-weight-bold text-md-center text-xs-center pt-2 copyright">Privacy Policy © 2019 A-H-H team support - All Rights Reserved</h4>
			</div>
		</div>
	</div>
</div>