.container-fluid{
	padding-right: 0px;
    padding-left: 0px;
}
#header{
	height:90px;
	background-color: #222;
}
#french{
	padding-top: 8%;
	padding-left: 8%;
}
h2{
	text-transform : uppercase;
	font-weight: bold;
	font-family: -webkit-body;
	padding-left :28%;
	color: #0f0465;
	font-size: 200%;
}
h3{
	font-weight: bold;
	font-family: -webkit-body;
	
}
#chuthuong1{
	font-family: -webkit-body;
	font-size: 22px;
}
.btn-default {
	color: #fff;
	font-size: 20px;
	background-color: #3F51B5;
}
.bs-docs-footer {
	padding-top:10px;
    padding-bottom: 10px;
    padding-left: 10%;
    margin-top: 80px;
    font-size: 15px;
    color: #99979c;
    background-color: #222;
    height: 100px;
}
.navbar-collapse {

	padding-left: 10%;
}
body{
	font-size: 20px;
	background-color: #DDDDDD;
}
#main1{
	padding-top: 5%;
	padding-left: 5%;
}

#navbar2{
	padding-top: 4%;
	padding-bottom:2%;
}
#hd2{
	padding-top: 2%;
}
.nav>li>a {
	margin-right: 20px;
}
#main2{
	padding-top: 47%;
	padding-left: 5%;
}
#chuthuong2{
	font-family: -webkit-body;
	font-size: 22px;
}