.title {
    text-align: center;
}

.mew-form {
    width: 50%;
    margin: 0 auto;
}

.loading {}

#dashboard {
    border-radius: 6px;
    background-color: white;
    float: left;
    width: 320px;
    height: 200px;
}

#page-container {
    padding: 40px 14px 15px;
    margin: 0 auto;
    width: 900px;
}

#main {
    float: right;
    width: 522px;
    background-color: white;
    border-radius: 6px;
}

#main h2 {
    font-size: 18px;
    padding: 12px;
    border-bottom: 1px solid #e8e8e8;
}