<div class="col-md-12 ali">
  <div class="row justify-content-center">
    <div class="btn btn-lg btn-primary" id="1" onclick="changeQuizTo(this.id)">Quiz 1</div>
    <div class="btn btn-lg btn-primary" id="2" onclick="changeQuizTo(this.id)">Quiz 2</div>
    <div class="btn btn-lg btn-primary" id="3" onclick="changeQuizTo(this.id)">Quiz 3</div>
    <div class="btn btn-lg btn-primary" id="4" onclick="changeQuizTo(this.id)">Quiz 4</div>
    <div class="btn btn-lg btn-primary" id="5" onclick="changeQuizTo(this.id)">Quiz 5</div>
    <div class="btn btn-lg btn-primary" id="6" onclick="changeQuizTo(this.id)">Quiz 6</div>
    <div class="btn btn-lg btn-primary" id="7" onclick="changeQuizTo(this.id)">Quiz 7</div>
    <div class="btn btn-lg btn-primary" id="8" onclick="changeQuizTo(this.id)">Quiz 8</div>
    <div class="btn btn-lg btn-primary" id="9" onclick="changeQuizTo(this.id)">Quiz 9</div>
    <div class="btn btn-lg btn-primary" id="10" onclick="changeQuizTo(this.id)">Quiz 10</div>
  </div>
  <div class="container">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header text-md-left">
          <h5 class="display-6" id="quiz_content"></h5>
        </div>
        <div class="card-body text-md-left">
          <div class="col-12">
            <div class="radio">
              <label><input type="radio" name="optradio" id="A">
                <span id="checkboxA"></span>
              </label>
            </div>
            <div class="radio">
              <label><input type="radio" name="optradio" id="B">
                <span id="checkboxB"></span>
              </label>
            </div>
            <div class="radio">
              <label><input type="radio" name="optradio" id="C">
                <span id="checkboxC"></span>
              </label>
            </div>
            <div class="radio">
              <label><input type="radio" name="optradio" id="D">
                <span id="checkboxD"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 text-md-left"><button class="btn btn-lg btn-primary" id="prev"><i
                class="fas fa-arrow-left"></i> Back </button></div>
          <div class="col-md-6 text-md-right"><button class="btn btn-lg btn-primary" id="next">Next <i
                class="fas fa-arrow-right"></i></button></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-md-right"><button class="btn btn-lg btn-success" id="submit">Submit</button></div>
      </div>
    </div>
  </div>