<!DOCTYPE html>
<html lang="vi">
<head>
	<meta charset ="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Congdan</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="Mon.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-inverse">
		<div id="header">
			<header class="container-fluid">
				
				<div id = "logo">
					<a class="navbar-brand" href="#" onclick="home()">
						<script> 
							function home(){
								window.location.assign('/')
							}
						</script>
						<img src="/hoctot.png" alt="" style="auto">
					</a>
				</div>

				
				<div class="container center_div">
					<form class="navbar-form" method="post" action="/">
						<input type="text" class="form-control" name="search" placeholder="Tìm kiếm tài liệu & đề thi...">
						<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
					</form>
				</div>

			</header>
		</div>


		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="/"><span class="glyphicon glyphicon-home"></span> Trang chủ </a></li>
				<li><a href="/toan">Toán Học</a></li>
				<li><a href="/van">Ngữ Văn</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ngoại Ngữ <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/eng">English</a></li>
						<li><a href="/phap">French</a></li>
						<li><a href="/nhat">Japanese</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Khoa học Tự Nhiên<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/ly">Vật Lý</a></li>
						<li><a href="/hoa">Hóa Học</a></li>
						<li><a href="/sinh">Sinh Học</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Khoa học Xã hội<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/su">Lịch Sử</a></li>
						<li><a href="/dia">Địa Lý</a></li>
						<li><a href="/gdcd">Công Dân</a></li>		
					</ul>
				</li>
				<li><a href="#">Video</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</nav>

	<section>	
		<div class="container-fluid">
			<div id="phanchinh">
				<div class="row">

					<div role="main" id="main1">	
						<div class="col-xs-12 col-md-8 col-lg-9">
							<section> 	
								<h2>Giáo Dục Công Dân</h2>
							</section>
							<section> 
								
								<h3><b>Chào mừng bạn đã đến với chủ đề 'Giáo Dục Công Dân'.</b></h3>					
								
							</section>
							<div id="chuthuong1">
								<section> 
									
									Đây là trang sẽ cung cấp cho bạn các bí quyết ôn luyện để chinh phục môn Giáo Dục Công Dân, các bài tập theo chuyên đề và quan trọng nhất là các bộ đề thi THPT quốc gia mới nhất của Bộ Giáo Dục.
									
								</section>
								
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-md-8 col-lg-9">
						<div id = "mon">
							<img src="giaoduccongdan.jpg" alt="" width="auto" height="auto" class="center img-responsive">
						</div>
					</div>

					
					<div role="main" id="main2">	
						<div class="col-xs-12 col-md-8 col-lg-9">
							
							<div id="chuthuong2">
								<section> 
									Sau đây chúng tôi sẽ cung cấp cho các bạn một số bộ đề thi cần thiết và hữu ích:
									
								</section>
								<div class="container">
									<div class="row">
										<% results.forEach(function(result) { %>
										<div class="col-md-3 col-sm-6">
											<a href="/giaodiendethidadangnhap/<%=result.id%>"  class="thumbnail">

												<img src="<%=result.link%>" alt="de1" style="width:150px;height:150px">
											</a>
											<p style="text-align:center"><%=result.name%></p> 
										</div>
										<% }); %>
									</div>
								</div>	
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div role="main" id="main">
			<div class="container-fluid">
				<!-- Add Carousel -->
				
				<section>
					<div id="h3">
						<h3><u> Tin tức tuyển sinh 2019:</u></h3>
					</div> 

					<div class="col-md-3 col-sm-6">
						<a target="_blank" href="https://news.zing.vn/vi-sao-sinh-vien-duoc-nang-diem-thi-thpt-quoc-gia-khong-bi-duoi-hoc-post935490.html">
							<img src="tin1.jpg" alt="" width="auto" height="auto" class="center img-responsive">
						</a>
						<div class="desc">Vì sao SV được nâng điểm thi THPT quốc gia không bị đuổi học?</div>
					</div>	

					<div class="col-md-3 col-sm-6">
						<a target="_blank" href="https://news.zing.vn/thi-thpt-quoc-gia-co-thi-sinh-dang-ky-20-nguyen-vong-post937917.html">
							<img src="tin2.jpg" alt="" width="auto" height="auto" class="center img-responsive">
						</a>
						<div class="desc">Thi THPT quốc gia: Có thí sinh đăng ký 20 nguyện vọng</div>
					</div>

					<div class="col-md-3 col-sm-6">
						<a target="_blank" href="https://news.zing.vn/bo-cong-an-se-co-quy-dinh-dac-thu-de-han-che-gian-lan-thi-cu-post936765.html">
							<img src="tin3.jpg" alt="" width="auto" height="auto" class="center img-responsive">
						</a>
						<div class="desc">Bộ Công an sẽ có quy định đặc thù để hạn chế gian lận thi cử</div>
					</div>

					<div class="col-md-3 col-sm-6">
						<a target="_blank" href="https://tin.tuyensinh247.com/lich-thi-thpt-quoc-gia-nam-2019-chi-tiet-bo-gd-c24a41718.html">
							<img src="tin4.jpg" alt="" width="auto" height="auto" class="center img-responsive">
						</a>
						<div class="desc">Lịch thi THPT quốc gia 2019 - Chính thức từ Bộ Giáo dục</div>
					</div>		
				</section>
				
			</div>
		</div>


		<footer class ="bs-docs-footer">
			<div class="container">
				<ul>
					<p>Chia sẻ tài liệu ôn thi Đại học</p>
					<p>Design by Nhóm 8</p>
					<p>Chúc các bạn thi tốt!</p>
				</ul>
			</div>
		</footer>
	</section>

</body>
</html>