.container{
	margin-top: 3%;
	width: 100%
    margin-bottom: 10px;
    text-align: center;
    font-size: 14;
}
.nav>li>a {
    padding: 14px 40px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #000000;
}
.navbar-brand {
	margin-top: -30px;
	padding-left: 50px;
}
.btn {
	border-radius: 10px;
}
.navbar{
    margin-bottom: 50px;
}
#bs-example-navbar-collapse-1{
	background-color: #efebeb;
}
.navbar-inverse .navbar-form {
    border-color: #101010;
    display: flex !important;
    justify-content: center;
}
.form-control {
	text-align: center;
	padding: 1% 10%;
	border-radius: 10px;
}
#h3{
	text-transform : uppercase;
	font-weight: bold;
	font-family: -webkit-body;
	padding-top :3%;
	color: #0f0465;
}
.bs-docs-footer {
    padding-bottom: 20px;
    margin-top: 100px;
    color: #99979c;
    background-color: #2a2730;
    padding-top: 1px;
}
.topnav {
    position: absolute;
    right: 30px;
    top: 16px;
    padding-bottom: 13px;
    z-index: 99;
}
#header{
	height:90px;
	background-color: #2a2730;
}
#logo{
	padding-top: 20px;
}
#banner{
    
}
#main{
	padding-left: 10%;
    padding-right: 10%;
    padding-top: 150px;
}
#block{
border: 0.5px #2a2730 solid;
}
.center_div{
	padding: 0px 20%;
    margin: 0 auto;
    width:90% /* value of your choice which suits your alignment */
}
.dropdown-menu>li>a {
    text-align: center;
    padding: 5px 20px;
}
.dropdown-menu {
    width: 100%;
}
.carousel-inner>.item>img {
    margin: auto;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 24%;
}


div.gallery:hover {
  border: 1px solid #777;
}


div.gallery img {
  width: 100%;
  height: auto;
}


div.desc {
  padding: 15px;
  text-align: center;
}


#mon{
  padding-top: 5%;
  padding-left: 8%;
}
h2{
  text-transform : uppercase;
  font-weight: bold;
  font-family: -webkit-body;
  padding-left :30%;
  color: #0f0465;
  font-size: 300%;
}
h3{
  font-weight: bold;
  font-family: -webkit-body;
  
}
#chuthuong1{
  font-family: -webkit-body;
  font-size: 22px;
}
#main1{
  padding-top: 5%;
  padding-left: 5%;
}
#main2{
  padding-top: 47%;
  padding-left: 5%;
}
#chuthuong2{
  font-family: -webkit-body;
  font-size: 22px;
  padding-top: 5%;
}
body{
  background-color: #DDDDDD;
}

.navbar-collapse {

  padding-left: 10%;
}

#phanchinh{
  padding-left: 15%;
}
