<nav class="navbar navbar-custom">
  <a href="/nhom-9/html/welcome/welcome.html" class="navbar-brand">
      <img src="assets/logo2.jpg" alt="logo" style="width:40px">
  </a>
  <a id="a_1" href="about.html">
        <i class="fas fa-bars"></i> About
  </a>
</nav>
<div class="wel container">
  <div class="card bg-light">
      <div class="card-body">
          <h1 class="display-1 text-center">Welcome</h1>
      </div>
      <div class="row">
          <div class="col-md-12 text-md-center"><a class="btn btn-lg btn-primary" href="../dashboard/dashboard.html">Getting Started.</a></div>
      </div>
  </div>