* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  padding: 70px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

.color-bar {
  background-color: #ebebe0;
}
.white {
  color: #fff;
}
.purple {
  color: #39004d;
}
.black {
  color: #000000;
}
.gray {
  color: #3d3d5c;
}


 
