* {
  box-sizing: border-box; }

body {
  font-family: Arial , Helvetica; }

/* Menu */
[class*="col-"] {
  float: left;
  padding: 15px; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.row::after {
  content: "";
  clear: both;
  display: block; }

.container {
  width: 1170px;
  margin: 0 auto; }

nav {
  margin: 0;
  padding: 0;
  background: #7D7D7D;
  overflow: hidden;
  font-size: 18px; }
  nav .side-nav a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: #fff; }
    nav .side-nav a:hover {
      background-color: #009688; }
    nav .side-nav a.close {
      display: none; }
  nav i.fa {
    position: absolute;
    right: 10px;
    margin: 8px 10px;
    color: #fff;
    display: none; }

@media only screen and (max-width: 768px) {
  [class*="col-"] {
    float: none;
    display: block;
    text-align: center;
    width: 100%; }

  nav.mobile-mod {
    text-align: center;
    z-index: 1;
    overflow: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff; }
    nav.mobile-mod .side-nav {
      display: block; }
      nav.mobile-mod .side-nav a {
        display: block;
        color: #009688; }
        nav.mobile-mod .side-nav a.close {
          font-weight: bold;
          display: block;
          position: relative;
          left: 12px; }
          nav.mobile-mod .side-nav a.close i {
            position: relative;
            display: inline-block;
            color: black;
            font-size: 18px; }
        nav.mobile-mod .side-nav a:hover {
          color: red;
          background: green; }
  nav .side-nav {
    height: 45px; }
    nav .side-nav a {
      display: none; }
  nav i.fa {
    display: block; } }
header {
  background-color: #009688;
  overflow: auto;
  color: #fff;
  text-align: center; }
  header p {
    padding: 2px 0; }
  header h2 {
    font-size: 30px;
    font-weight: bold;
    padding: 30px 0; }
  header button {
    background-color: #046357;
    padding: 25px;
    font-weight: bold;
    font-size: 25px;
    transition: all 1s;
    margin: 30px;
    border-radius: 10px;
    color: #fff;
    border: none; }
    header button:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      cursor: pointer;
      background: #1CAD9A; }

.card {
  background-color: #4B6B75;
  color: #fff;
  text-align: center;
  line-height: 30px; }
  .card h4 {
    font-weight: bold;
    font-size: 20px;
    padding: 20px 0; }

.content {
  background-color: #F5F5F5;
  margin: 20px; }
  .content img {
    width: 100%; }
  .content h4 {
    font-size: 25px;
    color: #0C9C69;
    font-weight: bold;
    margin: auto; }
  .content .text {
    line-height: 30px; }

.pricing {
  background-color: #F5F5F5;
  text-align: center; }
  .pricing .price-header {
    padding: 30px 0;
    font-weight: bold;
    font-size: 40px; }
  .pricing .price-shadow {
    background-color: #fff;
    padding-bottom: 50px;
    transition: all 0.5s; }
    .pricing .price-shadow:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .pricing .price-name {
    padding: 10px 0;
    font-size: 25px;
    color: gray; }
  .pricing .price-value {
    background: #0C9069;
    color: #fff;
    padding: 30px 0;
    font-size: 25px; }
  .pricing .price-point .point {
    padding: 10px 0; }
  .pricing .price-button button {
    cursor: pointer;
    background: #0C9C69;
    color: #fff;
    border: none;
    padding: 15px 40px;
    font-size: 20px;
    font-weight: bold;
    width: auto; }
    .pricing .price-button button:hover {
      background: #096848; }

.contact {
  padding: 10px 0;
  line-height: 160%; }
  .contact h4 {
    color: red;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding: 30px 0; }
  .contact input, .contact textarea {
    display: block;
    margin: 10px 0;
    padding: 15px;
    width: 100%;
    background: #E9F0F2;
    border: none; }
  .contact img {
    width: 100%; }
  .contact button {
    background: #0C9C69;
    border: none;
    width: 100%;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    padding: 12px 0; }
/*# sourceMappingURL=real.css.map */
