.logo{
	width: 50%;
}

.search {
	border: 1px solid blueviolet;
	border-radius: 22px;
	padding-left: 10px;
	height: 40px;
}

.search:focus{
	width: 300px;
}

.dropdowm:hover>.dropdown-menu {
	display: block;
}

.valid{
	color: green;
}

.invalid {
	color: red;
}

.user_left {
	max-width: 250px;
}

.user_left .avatar {
	max-width: 100%;
}

.user_left .avatar img {
	width: 100%;
}

.user_info {
	background: #007bff;
	color: #fff;
	padding: 5px 10px;
}

.content {
	padding: 3px;
	border: 1px solid #ddd;
}

.title_tab {
	border-bottom: 2px solid #0b7395;
}

.clear {
	clear: both;
}
.content ul{
	padding-left: 5px;
	list-style: none;
}

.content ul li{
	margin-top: 10px;
}

label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
}

.form-horizontal input[type=text] {
	width: 100%;
}

a{
	display: list-item;
	color: black!important;
	text-decoration: none!important;
	padding: 0px 10px;
	list-style: none!important;
}

ul{
	list-style: none!important;
}

.dropdown-menu a:hover{
	background-color: #e9ecef;
}

.menu{
	height: 61px;
	padding-top: 9px;
}

.form-horizontal input {
	border: 1px solid #ccc;
	box-shadow: none;
	border-radius: 0;
}

#message {
	display: none;
	color: #000;
	font-size: 14px;
	margin: -24px 0px -13px;
}

.title_header {
    margin: 15px 398px 0px 30px;
    font-size: 22px;
    color: darkblue;
    border-bottom: 3px solid #0b7395;
    float: left;
}

.sp_moi ul.listsp{
	padding: 0px;
}

.sp_moi ul.listsp li {
    clear: both;
    display: inline-block;
    vertical-align: top;
    max-width: 215px;
}
.sp_moi ul.listsp li a{
	padding: 20px;
}

.item_sp{
    overflow: hidden;
    position: relative;
    width: 200px;
    border: 1px solid #dee2e6;
    transition: all .2s;
}
.item_sp .img{
	width: 165px;
	height: 172px;
}

/*.item_sp1{
    overflow: hidden;
    position: relative;
    width: 300px;
    border: 1px solid #dee2e6;
    transition: all .2s;
}

.item_sp1 .img1 {
    width: 274px;
    height: 291px;
}*/
.view{
	height: 100%;
}

.card{
	height: 100%;
}

.form-horizontal span.input-group-text {
	width: 37%;
	white-space: normal;
	text-align: center;
}