/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;

}

.example-full-width {
  width: 100%;

}

.profile-avatar:hover button{
  visibility:visible !important; 
}

.profile-avatar{
  height: 165px !important;
  width: 165px !important;
  background-size: cover;
}

.profile-sideButton{
  text-align: left !important;
  width:100%;
  outline: none !important;
}
