<nav class="navbar navbar-custom">
  <a href="/nhom-9/html/welcome/welcome.html" class="navbar-brand">
      <img src="assets/logo2.jpg" alt="logo" style="width:40px">
  </a>
  <a id="a_1" href="about.html">
      <i class="fas fa-bars"></i> About
  </a>
</nav>

<div id="div12">
  <div class="container">
  <form>
      <h2>Log in</h2>
      <div class="form-group">
          <label for="usr"><i class="fas fa-user-alt"></i> Username:</label>
          <input type="text" class="form-control" id="usr">
      </div> 
      <div class="form-group">
          <label for="pwr"><i class="fas fa-key"></i> Password:</label>
          <input type="password" class="form-control" id="pwr">
      </div>
      <div class="row">
          <div class="col-sm-4"><button class="btn btn-primary">Log in</button></div>
          <div class="col-sm-7"><a href=""><i class="fas fa-unlock"></i> Forgot your password?</a> </div>
      </div>
            
          
  </form>
  </div>
</div>