.btn-primary {
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 20%;
}

.navbar-custom {
    background-color: #3c5fe7;
    margin-bottom: 1%;
}

.navbar-custom .navbar-brand {
    color: #ecf0f1;
}
#a_1 {
	font-size: 20px;
	float: right;
	color: #ffffff;
	padding: 0 15px 0 0;
}
#a_1:hover {
	color: #e6e6e6;
	text-decoration: none;
}
#div12 {
    padding-top: 100px;
    background: #F1F1F1;
    width: 60%;
    margin-left: 20%;
    border: 2px solid #bfbfbf;
}
#div12 h2 {
    padding-bottom: 10%;
    padding-left: 40%;
}
.login-container{
    margin-top: 2%;
    margin-bottom: 2%;
}
.login-form{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form h3{
    text-align: center;
    color: #333;
}
.login-container form{
    padding: 3%;
}
.login-form .btnSubmit{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-form-1 .ForgetPwd{
    text-align: center;
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}
