<!DOCTYPE html>
<html lang="vi">

<head>
	<title> Score+ </title>
	<meta name="description" content="Kết quả 5 giải đấu hàng đầu châu Âu" />
	<meta name="keyword" content="bong da, ket qua, lich thi dau" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="normalize.css" />
	<link rel="stylesheet" href="score.css" />
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/bootstrap-theme.min.css" />

</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="score.html"><img src="Logoweb.png" alt="score+"></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Các
							giải đấu <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="anh.html">Premier League</a></li>
							<li><a href="#">La Liga</a></li>
							<li><a href="#">Series A</a></li>
							<li><a href="#">Ligue I</a></li>
							<li><a href="#">BundesLiga</a></li>
						</ul>
					</li>
					<li><a href="#">Tin tức</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Dropdown
							<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Bên lề</a></li>
							<li><a href="#">Highlights</a></li>
							<li><a href="#"></a></li>
							<li role="separator" class="divider"></li>
							<li class="dropdown-header">Nav header</li>
							<li><a href="#">Separated link</a></li>
							<li><a href="#">One more separated link</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>
  <div>
    <div class="row">
      <div class="col-md-4">
        <img src="Logo/mc.png" style="display: block; margin-left: auto; margin-right: auto;" width="100px" height="auto">
      </div>
      <div class="col-md-4">
        <h2 style="text-align: center">Manchester City FC</h2>
        <p style="text-align: center">Sân vận động :<strong> Etihad Stadium </strong></p>
        <p style="text-align: center">Huấn luyện viên trưởng :<strong> Pep Guardiola </strong></p>
      </div>
      <div class="col-md-4">
        <img src="AoDau/manc.png" style="display: block; margin-left: auto; margin-right: auto;" width="100px" height="auto">
      </div>
    </div>
    <!--/. header -->


    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs nav-justified " role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
            data-toggle="tab">Các cầu thủ</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
            data-toggle="tab">Kết quả và lịch thi đấu</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
          <h2>Thủ môn</h2>
            <div class="row">
              <div class="col-xs-6 col-sm-3">
                <img src="EPL/MC/Ederson.jpg" style="display: block; margin-left: auto; margin-right: auto;" width="150px" height="auto">
                <p style="text-align: center"> 1 Ederson </p>
              </div>
              <div class="col-xs-6 col-sm-3">
                <img src="EPL/MC/bravo.jpg" style="display: block; margin-left: auto; margin-right: auto;" width="150px" height="auto">
                <p style="text-align: center"> 23 Bravo </p>
              </div>
              <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
              <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
          <table class="table table-striped">
            <tr>
              <th>Vòng đấu</th>
              <th>Trận đấu</th>
              <th>Trạng thái</th>
            </tr>
            <tr>
              <td>1</td>
              <td>Barcelona 1-1 Mancity</td>
              <td>Đã kết thúc</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Barcelona 1-1 Mancity</td>
              <td>Đang diễn ra</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Barcelona 1-1 Mancity</td>
              <td>Chưa diễn ra</td>
            </tr>

          </table>
        </div>
      </div>
  </div>
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>

</html>
