<!DOCTYPE html>
<html lang="vi">

<head>
	<title> Score+ </title>
	<meta name="description" content="Kết quả 5 giải đấu hàng đầu châu Âu" />
	<meta name="keyword" content="bong da, ket qua, lich thi dau" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="normalize.css" />
	<link rel="stylesheet" href="score.css" />
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/bootstrap-theme.min.css" />

</head>

<body>
	<marquee>
		<b><span style="color: red">Xong! Đã rõ thông tin chính thức vụ Dybala gia nhập Man Utd</span></b>
		<b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</b>
		<b><span style="color: red">Tin nóng tối 18/2: Mourinho sẽ đến Ligue 1?</span></b>
		<b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</b>
		<b><span style="color: red"> Pogba đá 'số 10', M.U sẽ hạ Chelsea?</span></b>
	</marquee>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="score.html"><img src="Logoweb.png" alt="score+"></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Các
							giải đấu <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="anh.html">Premier League</a></li>
							<li><a href="taybannha.html">La Liga</a></li>
							<li><a href="italia.html">Series A</a></li>
							<li><a href="phap.html">Ligue I</a></li>
							<li><a href="duc.html">BundesLiga</a></li>
						</ul>
					</li>
					<li><a href="#">Tin tức</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Dropdown
							<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Bên lề</a></li>
							<li><a href="#">Highlights</a></li>
							<li><a href="#"></a></li>
							<li role="separator" class="divider"></li>
							<li class="dropdown-header">Nav header</li>
							<li><a href="#">Separated link</a></li>
							<li><a href="#">One more separated link</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>

	<div class="container">
		<div class="blog-header">
			<p class="lead blog-description"></p>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading"><img src="LogoGiaiDau/anh.png" alt="score+" width="auto" height="25px">
					</div>
					<table class="table">
						<tbody>
							<tr>
								<th style="width: 15% ">
									<p align="center">Thời Gian</p>
								</th>
								<th style="width: 22%"></th>
								<th style="width: 20%">
									<p align="center">Trận đấu</p>
								</th>
								<th style="width: 22%"></th>
								<th style="width: 21%">
									<p align="center">Ngày</p>
								</th>
							</tr>
							<tr>
								<td>
									<p align="center">22:00</p>
								</td>
								<td>
									<p align="right"><a><img src="LogoCLB/Premier League/arsenal.png" alt="score+"
												width="auto" height="20px"> Arsenal FC </a></p>
								</td>
								<td>
									<p align="center"><a
											onclick="javascript:void window.open('match.html','1353463131339','width=510,height=650,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;">?-?
										</a></p>
								</td>
								<td>
									<p align="left"><a><img src="LogoCLB/Premier League/manutd.png" alt="score+"
												width="auto" height="20px">
											Manchester United</a></p>
								</td>
								<td>
									<p align="center">20-2-2019</p>
								</td>
							</tr>
							<tr>
								<td>
									<p align="center">22:00</p>
								</td>
								<td>
									<p align="right"><a><img src="LogoCLB/Premier League/watford.png" alt="score+"
												width="auto" height="20px"> Watford FC </a></p>
								</td>
								<td>
									<p align="center"><a
											onclick="javascript:void window.open('match.html','1353463131339','width=510,height=650,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;">?-?
										</a></p>
								</td>
								<td>
									<p align="left"><a href="Mancity.html"><img src="LogoCLB/Premier League/mancity.png"
												alt="score+" width="auto" height="20px">
											Manchester City</a></p>
								</td>
								<td>
									<p align="center">20-2-2019</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!--/Anh -->

				<div class="panel panel-default">
					<div class="panel-heading"><img src="LogoGiaiDau/tbn.png" alt="score+" width="auto" height="25px">
					</div>
					<table class="table">
						<tbody>
							<tr>
								<th style="width: 15% ">
									<p align="center">Thời Gian</p>
								</th>
								<th style="width: 22%"></th>
								<th style="width: 20%">
									<p align="center">Trận đấu</p>
								</th>
								<th style="width: 22%"></th>
								<th style="width: 21%">
									<p align="center">Ngày</p>
								</th>
							</tr>
							<tr>
								<td>
									<p align="center">22:00</p>
								</td>
								<td>
									<p align="right"><a><img src="LogoCLB/La Liga/barcelona.png" alt="score+"
												width="auto" height="20px"> FC Barcelona </a></p>
								</td>
								<td>
									<p align="center"><a
											onclick="javascript:void window.open('tiso.html','1353463131339','width=882,height=503,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;">?-?
										</a></p>
								</td>
								<td>
									<p align="left"><a><img src="LogoCLB/La Liga/atleticomadrid.png" alt="score+"
												width="auto" height="20px">
											Atletico Madrid </a></p>
								</td>
								<td>
									<p align="center">20-2-2019</p>
								</td>
							</tr>
							<tr>
								<td>
									<p align="center">22:00</p>
								</td>
								<td>
									<p align="right"><a><img src="LogoCLB/La Liga/real.png" alt="score+" width="auto"
												height="20px"> Real Madrid CF </a></p>
								</td>
								<td>
									<p align="center"><a
											onclick="javascript:void window.open('tiso.html','1353463131339','width=882,height=503,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;">?-?
										</a></p>
								</td>
								<td>
									<p align="left"><a><img src="LogoCLB/La Liga/eibar.png" alt="score+" width="auto"
												height="20px">
											SD Eibar </a></p>
								</td>
								<td>
									<p align="center">20-2-2019</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!--/TBN -->
				<div class="panel panel-default">
					<div class="panel-heading"><img src="LogoGiaiDau/duc.png" alt="score+" width="auto" height="25px">
					</div>
					<table class="table">
						<tbody>
							<tr>
								<th style="width: 15% ">
									<p align="center">Thời Gian</p>
								</th>
								<th style="width: 22%"></th>
								<th style="width: 20%">
									<p align="center">Trận đấu</p>
								</th>
								<th style="width: 22%"></th>
								<th style="width: 21%">
									<p align="center">Ngày</p>
								</th>
							</tr>
							<tr>
								<td>
									<p align="center">22:00</p>
								</td>
								<td>
									<p align="right"><a><img src="LogoCLB/Bundesliga/bayern-munich.png" alt="score+"
												width="auto" height="20px"> Bayern Munchen </a></p>
								</td>
								<td>
									<p align="center"><a
											onclick="javascript:void window.open('tiso.html','1353463131339','width=882,height=503,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;">?-?
										</a></p>
								</td>
								<td>
									<p align="left"><a><img src="LogoCLB/Bundesliga/wolfsburg.png" alt="score+"
												width="auto" height="20px">
											VfL Wolfburg </a></p>
								</td>
								<td>
									<p align="center">20-2-2019</p>
								</td>
							</tr>
							<tr>
								<td>
									<p align="center">22:00</p>
								</td>
								<td>
									<p align="right"><a><img src="LogoCLB/Bundesliga/dortmund.png" alt="score+"
												width="auto" height="20px"> Borussia Dortmund </a></p>
								</td>
								<td>
									<p align="center"><a
											onclick="javascript:void window.open('tiso.html','1353463131339','width=882,height=503,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;">?-?
										</a></p>
								</td>
								<td>
									<p align="left"><a><img src="LogoCLB/Bundesliga/stuttgart.png" alt="score+"
												width="auto" height="20px">
											VfB Stuttgart </a></p>
								</td>
								<td>
									<p align="center">20-2-2019</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!--/Đức -->
				<div class="panel panel-default">
					<div class="panel-heading"><img src="LogoGiaiDau/italia.png" alt="score+" width="auto"
							height="25px">
					</div>
					<table class="table">
						<tbody>
							<tr>
								<th style="width: 15% ">
									<p align="center">Thời Gian</p>
								</th>
								<th style="width: 22%"></th>
								<th style="width: 20%">
									<p align="center">Trận đấu</p>
								</th>
								<th style="width: 22%"></th>
								<th style="width: 21%">
									<p align="center">Ngày</p>
								</th>
							</tr>
							<tr>
								<td>
									<p align="center">22:00</p>
								</td>
								<td>
									<p align="right"><a><img src="LogoCLB/Series A/Juventus.png" alt="score+"
												width="auto" height="20px"> Juventus FC </a></p>
								</td>
								<td>
									<p align="center"><a
											onclick="javascript:void window.open('tiso.html','1353463131339','width=882,height=503,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;">?-?
										</a></p>
								</td>
								<td>
									<p align="left"><a><img src="LogoCLB/Series A/AC Milan.png" alt="score+"
												width="auto" height="20px">
											AC Milan </a></p>
								</td>
								<td>
									<p align="center">20-2-2019</p>
								</td>
							</tr>
							<tr>
								<td>
									<p align="center">22:00</p>
								</td>
								<td>
									<p align="right"><a><img src="LogoCLB/Series A/Napoli.png" alt="score+" width="auto"
												height="20px"> SSC Napoli </a></p>
								</td>
								<td>
									<p align="center"><a
											onclick="javascript:void window.open('tiso.html','1353463131339','width=882,height=503,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;">?-?
										</a></p>
								</td>
								<td>
									<p align="left"><a><img src="LogoCLB/Series A/Genoa.png" alt="score+" width="auto"
												height="20px">
											Genoa CFC </a></p>
								</td>
								<td>
									<p align="center">20-2-2019</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!--/ Ý -->

				<div class="panel panel-default">
					<div class="panel-heading"><img src="LogoGiaiDau/phap.png" alt="score+" width="auto" height="25px">
					</div>
					<table class="table">
						<tbody>
							<tr>
								<th style="width: 15% ">
									<p align="center">Thời Gian</p>
								</th>
								<th style="width: 22%"></th>
								<th style="width: 20%">
									<p align="center">Trận đấu</p>
								</th>
								<th style="width: 22%"></th>
								<th style="width: 21%">
									<p align="center">Ngày</p>
								</th>
							</tr>
							<tr>
								<td>
									<p align="center">22:00</p>
								</td>
								<td>
									<p align="right"><a><img src="LogoCLB/Ligue 1/PSG.png" alt="score+" width="auto"
												height="20px">
											P.S.G </a></p>
								</td>
								<td>
									<p align="center"><a
											onclick="javascript:void window.open('tiso.html','1353463131339','width=882,height=503,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;">?-?
										</a></p>
								</td>
								<td>
									<p align="left"><a><img src="LogoCLB/Ligue 1/Nantes.png" alt="score+" width="auto"
												height="20px">
											Nantes FC </a></p>
								</td>
								<td>
									<p align="center">20-2-2019</p>
								</td>
							</tr>
							<tr>
								<td>
									<p align="center">22:00</p>
								</td>
								<td>
									<p align="right"><a><img src="LogoCLB/Ligue 1/Marseille.png" alt="score+"
												width="auto" height="20px"> Marseille </a></p>
								</td>
								<td>
									<p align="center"><a
											onclick="javascript:void window.open('tiso.html','1353463131339','width=882,height=503,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;">?-?
										</a></p>
								</td>
								<td>
									<p align="left"><a><img src="LogoCLB/Ligue 1/Nice.png" alt="score+" width="auto"
												height="20px">
											Nice FC </a></p>
								</td>
								<td>
									<p align="center">20-2-2019</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!--/Pháp -->
			</div><!-- /.blog-main -->

			<div class="col-xs-6 col-md-4">
				<h2> Bảng xếp hạng</h2>
				<div>
					<!-- Nav tabs -->
					<ul class="nav nav-tabs nav-justified " role="tablist">
						<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
								data-toggle="tab"><img src="LogoGiaiDau/mini-pl.png" alt="mini-img" width="auto"
									height="20px"></a></li>
						<li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
								data-toggle="tab"><img src="LogoGiaiDau/mini-la.jpg" alt="mini-img" width="auto"
									height="20px"></a></li>
						<li role="presentation"><a href="#messages" aria-controls="messages" role="tab"
								data-toggle="tab"><img src="LogoGiaiDau/mini-bl.png" alt="mini-img" width="auto"
									height="20px"></a></li>
						<li role="presentation"><a href="#settings" aria-controls="settings" role="tab"
								data-toggle="tab"><img src="LogoGiaiDau/mini-sa.png" alt="mini-img" width="auto"
									height="20px"></a></li>
						<li role="presentation"><a href="#league1" aria-controls="league1" role="tab"
								data-toggle="tab"><img src="LogoGiaiDau/mini-l1.jpg" alt="mini-img" width="auto"
									height="20px"></a></li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="home">
							<table class="table table-striped">
								<tr>
									<th>Hạng</th>
									<th>Đội bóng</th>
									<th>Hiệu số</th>
									<th>Điểm</th>
								</tr>
								<%i=1%>
								<%results.forEach(function(rows){%>
								<tr>
									<td><%=i++%></td>
									<td><%=rows.doibong%></td>
									<td><%=rows.hieuso%></td>
									<td><%=rows.diem%></td>
								</tr>
								<%})%>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="profile">
							<table class="table table-striped">
								<tr>
									<th>Hạng</th>
									<th>Đội bóng</th>
									<th>Hiệu số</th>
									<th>Điểm</th>
								</tr>
								<tr>
									<td>1</td>
									<td>Barcelona</td>
									<td>44</td>
									<td>65</td>
								</tr>
								<tr>
									<td>2</td>
									<td>Athletico Madrid</td>
									<td>48</td>
									<td>62</td>
								</tr>
								<tr>
									<td>2</td>
									<td>Real Madrid</td>
									<td>48</td>
									<td>62</td>
								</tr>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="messages">
							<table class="table table-striped">
								<tr>
									<th>Hạng</th>
									<th>Đội bóng</th>
									<th>Hiệu số</th>
									<th>Điểm</th>
								</tr>
								<tr>
									<td>1</td>
									<td>Dortmund</td>
									<td>44</td>
									<td>65</td>
								</tr>
								<tr>
									<td>2</td>
									<td>Bayern Munich</td>
									<td>48</td>
									<td>62</td>
								</tr>
								<tr>
									<td>2</td>
									<td>RB Leipzig</td>
									<td>48</td>
									<td>62</td>
								</tr>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="settings">
							<table class="table table-striped">
								<tr>
									<th>Hạng</th>
									<th>Đội bóng</th>
									<th>Hiệu số</th>
									<th>Điểm</th>
								</tr>
								<tr>
									<td>1</td>
									<td>Juventus</td>
									<td>44</td>
									<td>65</td>
								</tr>
								<tr>
									<td>2</td>
									<td>Napoli</td>
									<td>48</td>
									<td>62</td>
								</tr>
								<tr>
									<td>2</td>
									<td>Inter Mian</td>
									<td>48</td>
									<td>62</td>
								</tr>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="league1">
							<table class="table table-striped">
								<tr>
									<th>Hạng</th>
									<th>Đội bóng</th>
									<th>Hiệu số</th>
									<th>Điểm</th>
								</tr>
								<tr>
									<td>1</td>
									<td>PSG</td>
									<td>44</td>
									<td>65</td>
								</tr>
								<tr>
									<td>2</td>
									<td>Lyon</td>
									<td>48</td>
									<td>62</td>
								</tr>
								<tr>
									<td>2</td>
									<td>Lille</td>
									<td>48</td>
									<td>62</td>
								</tr>
							</table>
						</div>
					</div>

				</div>
			</div>
		</div><!-- /.row -->


		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<footer class="blog-footer">
					<p style="text-align:center">
						<a href="#">Back to top</a>
					</p>
				</footer>
			</div>
		</div>
	</div><!-- /.container -->
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>

</html>
