<div class="row justify-content-center">
  <div *ngFor=" let question of questions; let i = index " class="'btn btn-lg "
    [ngClass]="{'btn-primary': currentIndex != i, 'btn-success':currentIndex == i }" (click)="changeQuestionTo(i)">
    Question {{i+1}}
  </div>
</div>
<div class="container">
  <div class="col-md-12">
    <div class="card" *ngIf="selectedQuestion">
      <div class="card-header text-md-left">
        <h5 class="display-6">{{selectedQuestion.getquestionContent()}}</h5>
      </div>
      <div class="card-body text-md-left">
        <div class="col-12">
          <div class="radio">
            <label><input type="radio" name="optradio" #checkbox>
              <span id="A" (click)="onClickCheckbox($event)">{{selectedQuestion.getOptionA()}}</span>
            </label>
          </div>
          <div class="radio">
            <label><input type="radio" name="optradio" #checkbox>
              <span id="B" (click)="onClickCheckbox($event)">{{selectedQuestion.getOptionB()}}</span>
            </label>
          </div>
          <div class="radio">
            <label><input type="radio" name="optradio" #checkbox>
              <span id="C" (click)="onClickCheckbox($event)">{{selectedQuestion.getOptionC()}}</span>
            </label>
          </div>
          <div class="radio">
            <label><input type="radio" name="optradio" #checkbox>
              <span id="D" (click)="onClickCheckbox($event)">{{selectedQuestion.getOptionD()}}</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-md-left">
          <button class="btn btn-lg btn-primary" (click)="onClickPrev()">
            <i class="fas fa-arrow-left"></i>
            Back
          </button>
        </div>
        <div class="col-md-6 text-md-right">
          <button class="btn btn-lg btn-primary" (click)="onClickNext()">
            <i class="fas fa-arrow-right"></i>
            Next
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-md-right">
        <button class="btn btn-lg btn-success" (click)="onClickSubmit()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>