* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  padding: 70px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

