* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-weight: 300;
  color: #333;
  line-height: 1.254;
  margin: 0 50px 0 50px;
  padding: 0;
}

a {
	text-decoration: none;
	color: #3b8bba;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

a:hover, a:visited {
	color: #265778
}
 
 
 #container {
	position: relative;
	margin: 0;
	padding: 0;
 }
 #Menu ul {
	list-style-type: none;
	background: #333;
	text-align: center;
}

#Menu ul li {
	display: inline-table;
	width: 250px;
	height: 40px;
	line-height: 40px;
	position: relative;
}

#Menu ul li a {
	color: #fff;
	display: block;
	text-decoration: none;
}

#Menu ul li a:hover {
	background-color: #454545;
}
#Menu ul li > .SubMenu {
	display: none;
	position: absolute;
	padding: 0;
}
#Menu ul li:hover .SubMenu {
	display: block;
}
 
#header {
	text-align: center;
}
#heađer #slogan {
	color: #8997a0;
	font-size: 0.8em;
}
#header #logo {

}
#league { 
	float: left;
	width: 70%;
}
#league #head{
}
#league ul {
	text-align: center;
}
#league ul li {
	display: table;
}
#league ul li p {
	width: 1000px;
	display: inline-table;
	background-color: #e5e5e5;
}
#rank{
	float: right;
	width: 25%;
}


