* {
  box-sizing: border-box;
}
html, body {
	height: 100%;
	width:100%;
	font-family: Arial, sans serf;
	overflow-x: hidden;
}

.navbar-inverse {
	background-color: #23415C !important;
	padding: 0;
	border-color: #23415C !important;
	font-size: 1.2em;
	font-weight: 200 !important;
}
.navbar-brand {
	min-height: 55px;
	padding: 0px 0px !important;
}
.navbar-brand img {
	height: auto;
}
.navbar-inverse .navbar-nav li a {
	color: #FFF !important;
	padding: auto !important;
}
.navbar-inverse .navbar-nav .active {
	color:pink !important;
}
.navbar-inverse .navbar-nav li a:hover, .navbar-inverse .navbar-nav li a:active {
	color: pink !important;
}
#home {
	background: url('imgg/head.jpg') no-repeat fixed ;
	position: relative;
	width: 100%;
	height: 310px;
	display: table;
	margin-bottom: 0;
}
.landing-text {
	display:  table-cell;
	text-align: center;
	vertical-align: middle;
}
.landing-text h1 {
	font-size: 500%;
	font-weight: 700;
}
.landing-text h3 {
	font-weight: 300;
	font-size: 200%;
}
.col-sm-8#expl {
	background-color: #405b8263;
  	margin-bottom: -1px;
    padding-top: 0;
    padding-bottom: 20px; 
    min-height: 300px;
}
#content {
	background-color: #A8B5BE;
}
input {
	position: relative;
	display: inline-block;
	font-size: 20px;
	transition: .5s;
    box-sizing: border-box;
}
input[type="text"] {
    background-color: #fff;
    width: 90%;
    max-width: 800px;
    height: 40px;
    padding: 0 25px;
    border: none;
    outline: none;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0 0 0 7px rgba(0,0,0,.4);
}
input[type="submit"] {
    position: relative;
    border-radius: 25px 25px 25px 25px;
    height: 41px;
    width: 90px;
    min-width: 90px;
    font-size: 18px;
    border: none;
    outline: none;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
    background: #23415C;
    color: #fff;
    left: -5px;
    box-shadow: 0 0 0 7px #23415C;
}
input[type="submit"]:hover{
	background-color: #EE9584;
}
footer {
	width: 100%;
	background-color: #23415C;
	padding: 5% 5% 10% 5%;
	color: #FFF;
}
.fa {
	padding: 15px;
	font-size: 30px;
	color:#FFF;
	font-weight: 100;
}
.fa:hover {
	color: #D5D5D5;
	text-decoration: none;
}
.icon {
	max-width: 200px;
	padding: auto;
}

@media (max-width: 768px) {
	.landing-text h1 {
		font-size: 300%;
	}
	.fa {
		font-size:20px;
		padding: 10px;
	}
	.icon {
		padding-top: 5%;
		max-width: 100px;
	}
	#home {
	background: url('imgg/head2.jpg') repeat fixed ;
	position: relative;
	width: 100%;
	height: 310;
	display: table;
}
	.col-sm-8#expl {
			background-color:  #A8B5BE;
		}
	
}