* {
  box-sizing: border-box;
}
body {
	background-color: #EDBD9D;
	margin-right: 0;
	padding: 0;
	overflow-x: hidden;

}
#header {
	padding : 20px ;
	background-color: #EE9584;
	color :black;
	text-align: center;
}
#header h1 {
	font-size: 60px;
}
#header p {
	font-size: 30px;
}
.search {
	text-align: center;
	background-color: #EDBD9D;
	padding: 20px;
	font-size: x-larger;
	height: 250px;
}
.explain {
	background-color: black;
	color: white;
	padding: 10px;
	height: 200px;
	text-align: center;
}
.row {
	background-color:  #EDBD9D;
	margin-top: 0;
	padding: 10px;
}
.topics-tittle {
	background-color:  #EE9584;
	color: black;
	border: 1px solid pink;
	border-radius: 5px;
	margin: 0;
} 
div.thumbnail:hover {
	background-color: black;
}
div.thumbnail:hover div.caption{
	color:white;
	text-decoration: none;
}
.footer {
	padding: 10px;
	display: block;
	background-color:black;
	font-size: 30px;
	text-align: center;
	color: #EE9584;
}