<!DOCTYPE html>
<html lang="vi">

<head>
    <title> Tran dau </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="normalize.css" />
    <link rel="stylesheet" href="score.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
    <style type="text/css">
        html,
        body {
            margin: 0;
            padding: 0;

        }

        ul li {
            width: 33.33%;
            text-align: center;
        }

        .head {
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="main">
        <div class="container">

            <div class="panel-heading head" style="margin-bottom: 50px;  margin-top: 50px">
                <h3><img src="LogoCLB\Series A\Napoli.png" alt="score+" width="auto" height="20px">&nbsp&nbspNapoli
                    &emsp;1-1&emsp;
                    <img src="LogoCLB\Series A\Genoa.png" alt="score+" width="auto" height="20px">&nbsp&nbspGenoa
                </h3>
            </div>
            <div class="group-tabs">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                            data-toggle="tab">Match Info</a></li>

                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab"
                            data-toggle="tab">Statistics</a></li>
                    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab"
                            data-toggle="tab">Line-ups</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <div class="panel panel-default">
                            <div class="panel-heading">Thông số trận đấu</div>
                            <table class="table">
                                <tr>
                                    <th>24'</th>
                                    <th>Allan&nbsp <img src="Icon/yellow.png" alt="score+" width="auto" height="20px">
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th>28'</th>
                                    <th></th>
                                    <th></th>
                                    <th><img src="Icon/red.png" alt="score+" width="auto"
                                            height="20px">&nbsp&nbsp&nbspS.Sturaro</th>
                                </tr>
                                <tr>
                                    <th>34'</th>
                                    <th>D.Mertens&nbsp <img src="Icon/goal.png" alt="score+" width="auto" height="20px">
                                    </th>
                                    <th>1-0</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th>45+3'</th>
                                    <th></th>
                                    <th>1-1</th>
                                    <th><img src="Icon/red.png" alt="score+" width="auto"
                                            height="20px">&nbsp&nbsp&nbspD.Lazovic</th>
                                </tr>
                                <tr>
                                    <th>67'</th>
                                    <th>E.Hysaj&nbsp <img src="Icon/yellow.png" alt="score+" width="auto" height="20px">
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages">
                        <div class="panel panel-default">
                            <table class="table">
                                <tr>
                                    <th></th>
                                    <th>Napoli</th>
                                    <th>vs</th>
                                    <th>Genoa</th>
                                </tr>
                                <tr>
                                    <th>Shots on target</th>
                                    <th>9</th>
                                    <th></th>
                                    <th>5</th>
                                </tr>
                                <tr>
                                    <th>Shots off target</th>
                                    <th>23</th>
                                    <th></th>
                                    <th>14</th>
                                </tr>
                                <tr>
                                    <th>Possession(%)</th>
                                    <th>75</th>
                                    <th></th>
                                    <th>25</th>
                                </tr>
                                <tr>
                                    <th>Corners</th>
                                    <th>8</th>
                                    <th></th>
                                    <th>5</th>
                                </tr>
                                <tr>
                                    <th>Offsides</th>
                                    <th>6</th>
                                    <th></th>
                                    <th>3</th>
                                </tr>
                                <tr>
                                    <th>Fouls</th>
                                    <th>11</th>
                                    <th></th>
                                    <th>10</th>
                                </tr>
                                <tr>
                                    <th>Goal kicks</th>
                                    <th>11</th>
                                    <th></th>
                                    <th>6</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="settings">
                        <img src="doi-hinh-ra-san.jpg" style="display: block; margin-left: auto; margin-right: auto;">

                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>