<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <h5 class="card-header">Test 1: </h5>
        <div class="card-body">
          <p class="card-text">Revolutionary Line of the Communist Party of Vietnam.</p>
          <p class="card-text">Chapter 1.</p>
          <p class="card-text">Language: Vietnamese.</p>
          <a href="" class="btn btn-primary" routerLink="/doing" routerLinkActive="active">Get Quizs</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <h5 class="card-header">Test 2: </h5>
        <div class="card-body">
          <p class="card-text">Revolutionary Line of the Communist Party of Vietnam.</p>
          <p class="card-text">Chapter 2.</p>
          <p class="card-text">Language: Vietnamese.</p>
          <a href="#" class="btn btn-primary disabled">Get Quizs</a>
        </div>
      </div>
    </div>

  </div>