<mat-toolbar color="primary" role="heading" style="position: sticky; top:0; z-index: 1000;">
    <button mat-button routerLink="/" *ngIf="currentUser">
        <mat-icon style="margin-bottom: 5px">home</mat-icon>
        Home
    </button>
    <button mat-button routerLink="users/{{currentUser.username}}" *ngIf="currentUser">Profile</button>
    <button mat-button routerLink="messenger" *ngIf="currentUser">Messenger</button>
    <button mat-button (click)="logout()" *ngIf="currentUser">Logout</button>

    <button mat-button routerLink="/login" *ngIf="!currentUser">Login</button>
    <button mat-button routerLink="/register" *ngIf="!currentUser">Register</button>
    
</mat-toolbar>

<!-- main app container -->

    <div class="container">
        <alert></alert>
        <router-outlet></router-outlet>
    </div>

